*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    background-color: #2f3640;
    color: rgb(239, 241, 244);
    
}

header nav li {
    display: inline;
    margin: 16px;
}

header nav li a {
    color: rgb(239, 241, 244);
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif ;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.parcerias img{
    height: 50px;
}

.parcerias li{
    display: inline;
    margin-right: 10px;
    margin-left: 16px;
}

.noticias {
    height: 400px;
}

section .container{
    align-items: ;
}

section{
    padding: 50px 0;
}

section h2{
    margin-bottom: 16px;
    margin-left: 16px;
}

section p{
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
}
